:root {
	--background-dark: #363b3a;
	--background-light: #dadad9;

	--font-light: #f2f1ef;
	--font-dark: #363b3a;

	--warn-color: #f5cb5c;
	--red-accent: #89023e;
	--blue-accent: #778da9;
	--button-light: rgba(218, 218, 217, 0.1);
	--button-dark: rgba(54, 59, 58, 0.1);

	--card-background: #778da9;
	--card-background-hover: rgba(218, 218, 217, 0.2);

	--hover-light: rgba(218, 218, 217, 0.2);
	--hover-dark: rgba(54, 59, 58, 0.9);

	// --background-dark: #1b998b;
	// --background-light: #dadad9;

	// --font-light: #f2f1ef;
	// --font-dark: #363b3a;

	// --card-background: #363b3a;
	// --card-background-hover: rgba(54, 59, 58, 0.2);

	// --warn-color: #f5cb5c;
	// --red-accent: #89023e;
	// --blue-accent: #778da9;
	// --button-light: rgba(218, 218, 217, 0.1);
	// --button-dark: rgba(54, 59, 58, 0.1);

	// --hover-light: rgba(218, 218, 217, 0.2);
	// --hover-dark: rgba(54, 59, 58, 0.9);

	--fullscreen-w-topbar: calc(var(--vh) - 95px);
}
