@use "./mixins";

@import url("./scss/fonts.scss");

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: var(--vh);
	background-color: var(--background-dark);
	width: 100%;
	overflow-x: hidden;

	.main-container {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

a {
	text-decoration: none;
}

a:hover,
button:hover {
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
	margin: 10px 0 10px 0;
}

input {
	border-radius: 3px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	height: 34px;
	margin-bottom: 2px;
	outline: none;
}

button {
	border-radius: 3px;
	overflow: hidden;
	border: none;
	height: 34px;
	margin-bottom: 2px;
	outline: none;
	transition: background-color 0.25s ease-in;
	padding: 10px;

	&.back {
		background-color: transparent;
		font-size: 1.5rem;
		font-weight: 1000;
		position: absolute;
		left: 0;
		top: 0;
		height: auto;
		width: auto;

		&:hover {
			background: transparent;
		}
	}

	&.dark {
		background-color: var(--button-dark);
		color: var(--font-light);
		&:hover {
			background-color: var(--hover-dark);
		}
	}

	&.light {
		background-color: var(--button-light);
		color: var(--font-light);
		&:hover {
			background-color: var(--hover-light);
		}
	}

	&.close {
		position: absolute;
		top: 0;
		right: 5px;
		background-color: transparent;
		font-size: 1.5rem;
		font-weight: 1000;
		&:hover {
			background: transparent;
		}
	}
}

::placeholder,
input[type="text"] {
	color: white;
}

input[type="submit"] {
	cursor: pointer;
	width: auto;
	align-self: flex-end;
	padding: 10px;
	height: auto;
	margin-top: 5px;
	&:hover {
		background-color: var(--hover-light);
	}
}

input:focus::placeholder {
	color: transparent;
}

.mobile {
	@include mixins.for-desktop {
		display: none;
	}
}
