@use "../mixins";
.user-page-container {
	@include mixins.full-screen-box;
	width: 90%;
	.user-block {
		@include mixins.card;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		margin: 0;
	}
}
