@use "../mixins";

//------- Animations -------\\

@keyframes frame-mobile {
	0% {
		transform: rotate(0);
	}
	5% {
		transform: rotate(10deg);
	}
	20% {
		transform: rotate(10deg);
	}
	94% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}

@keyframes frame-scene {
	0% {
		transform: rotate(-90deg);
	}
	5% {
		transform: rotate(-100deg);
	}
	20% {
		transform: rotate(-100deg);
	}
	94% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes base-mobile {
	0% {
		margin-bottom: -241px;
		left: unset;
		width: 30px;
		transform: rotate(0deg);
	}

	100% {
		margin-bottom: -82%;
		border-radius: 15px;
	}
}

@keyframes base-scene {
	0% {
		margin-bottom: -82%;
		border-radius: 15px;
	}
	30% {
		margin-bottom: -82%;
		border-radius: 15px;
		transform: rotate(0deg);
		left: unset;
	}
	31% {
		left: 120px;
	}

	100% {
		width: 3px;
		left: 30px;
		margin-bottom: 165px;
		transform: rotate(56deg);
	}
}

@keyframes base-desktop {
	0% {
		width: 3px;
		left: 30px;
		margin-bottom: 165px;
		transform: rotate(56deg);
	}
	99% {
		left: calc(50% - 15px);
	}
	100% {
		left: unset;
		margin-bottom: -241px;
		width: 30px;
		transform: rotate(0deg);
	}
}

@keyframes stand-mobile {
	0% {
		margin-bottom: -270px;
	}
	100% {
		margin-bottom: 91%;
	}
}

@keyframes stand-scene {
	0% {
		margin-bottom: 91%;
	}
	30% {
		margin-bottom: 91%;
	}

	65% {
		margin-bottom: 73px;
		width: 30%;
	}
	95% {
		margin-bottom: 73px;
		width: 30%;
	}
	100% {
		margin-bottom: 73px;
		width: 100%;
	}
}

@keyframes stand-desktop {
	0% {
		margin-bottom: 73px;
		width: 100%;
	}
	100% {
		margin-bottom: -270px;
		width: 30%;
	}
}

@keyframes icon-drop {
	0% {
		opacity: 0;
		transform: translateY(-110px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes icon-fade-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes grey-box-scroll {
	0% {
		bottom: 0;
	}
	80% {
		bottom: 15%;
	}
	100% {
		bottom: 15%;
	}
}

.landing-container {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	overflow: hidden;
	text-align: center;
	color: var(--font-dark);
	&.new {
		display: flex;
		background-color: white;
		justify-content: center;
		align-items: center;
		z-index: 100;
		svg {
			display: block;
		}
		.landing-page-info {
			flex-grow: 1;
			h2 {
				margin-bottom: 0;
			}
		}
		.landing-animation-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 252px;
			width: 400px;
			position: relative;

			@include mixins.for-phone-only {
				max-width: 95%;
				height: 400px;
			}

			.frame {
				height: 220px;
				width: 100%;
				position: relative;
				&.frame-mobile {
					animation: frame-mobile 1s cubic-bezier(0.075, 0.82, 0.165, 1)
						forwards;
					animation-delay: 1s;
					.map-container {
						width: 75%;
						height: 70%;
						border: solid black 2px;
						position: absolute;
						right: 8%;
						top: 15%;
						opacity: 0;
						&.map-fade-in {
							animation: icon-fade-animation 1s ease-out forwards;
							animation-delay: 2s;
						}
						i {
							transform: rotate(90deg);
							right: 35px;
							bottom: 10px;
							font-size: 2rem;
							opacity: 0;
							&.map-fade-in {
								animation: icon-fade-animation 0.5s ease-out forwards;
								animation-delay: 4s;
							}
						}
						svg {
							opacity: 0;
							&.map-fade-in {
								animation: icon-fade-animation 0.5s ease-out forwards;
								animation-delay: 3s;
							}
						}
					}
				}
				&.frame-scene {
					animation: frame-scene 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
				}

				&.frame-desktop {
					.map-container {
						width: 80%;
						height: 82%;
						border: solid black 1px;
						right: 10%;
						top: 8%;
						position: absolute;
						overflow: hidden;
						opacity: 0;
						&.map-fade-in {
							animation: icon-fade-animation 1s ease-out forwards;
							animation-delay: 1s;
						}
						.grey-container {
							height: 100%;
							width: 100%;
							position: relative;
							animation: grey-box-scroll 1s ease-out infinite;
							animation-delay: 1s;
							.grey-box {
								width: 90%;
								height: 10%;
								margin-top: 3%;
								background-color: rgb(221, 231, 242);
								margin-left: 5%;
							}
						}
					}
				}

				i {
					z-index: 100;
					position: absolute;
					font-size: 6rem;
					color: black;
					opacity: 0;
					&.icon-fade-in {
						animation: icon-fade-animation 0.3s ease-out forwards;
						animation-delay: 1s;
					}
				}
				.la-hiking {
					bottom: 10px;
					left: 10px;
				}
				.la-mountain {
					top: -5px;
					font-size: 6.2rem;
					right: 0px;
				}
				.la-wifi {
					left: 10px;
					font-size: 2.2rem;
					top: 10px;
				}

				.la-tree {
					&.one {
						top: 70px;
						left: 41px;
						font-size: 3.6rem;
						opacity: 0;
						transform: translateY(-110px);
						&.icon-drop {
							animation: icon-drop 0.3s ease-out forwards;
							animation-delay: 1.8s;
						}
					}
					&.two {
						top: 63px;
						left: 10px;
						font-size: 3.3rem;
						opacity: 0;
						transform: translateY(-110px);
						&.icon-drop {
							animation: icon-drop 0.3s ease-out forwards;
							animation-delay: 1.5s;
						}
					}
					&.three {
						top: 64px;
						left: 70px;
						font-size: 4.6rem;
						opacity: 0;
						transform: translateY(-110px);
						&.icon-drop {
							animation: icon-drop 0.3s ease-out forwards;
							animation-delay: 2s;
						}
					}
				}
			}
			.base {
				width: 30px;
				height: 30px;
				margin-bottom: -241px;
				position: absolute;
				background-color: black;
				&.base-mobile {
					animation: base-mobile 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
						forwards;
					animation-delay: 2s;
				}
				&.base-scene {
					animation: base-scene 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
				}
				&.base-desktop {
					animation: base-desktop 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
						forwards;
				}
			}
			.stand {
				width: 30%;
				height: 2px;
				z-index: 100;
				position: absolute;
				margin-bottom: -270px;

				&.stand-mobile {
					animation: stand-mobile 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
						forwards;
					animation-delay: 2s;
				}

				&.stand-scene {
					animation: stand-scene 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
				}

				&.stand-desktop {
					animation: stand-desktop 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
						forwards;
				}
			}
		}
	}
}

@include mixins.for-phone-only {
	.landing-container {
		flex-direction: column;
	}
}
