@use "../mixins";

@include mixins.pulse-animation-mixin(
	pulse-animation,
	rgba(0, 0, 0, 0.2),
	rgba(0, 0, 0, 0),
	45px
);

@include mixins.vertical-animation-mixin(slide-up, 0, -150%, -150%);
@include mixins.vertical-animation-mixin(slide-down, 0, 200%, 200%);

.slide-up {
	animation: slide-up 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both,
		fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation-delay: 0.3s;
}
.slide-down {
	animation: slide-down 1s cubic-bezier(0.39, 0.575, 0.565, 1) both,
		fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.pulse {
	animation: pulse-animation 2s infinite;
}

.landing-container {
	width: 100%;
	height: 100vh;
	flex-direction: column;
	position: absolute;
	top: 0;
	overflow: hidden;
	text-align: center;

	.top-box {
		width: 100%;
		height: 70vh;
		background-color: var(--red-accent);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		overflow: hidden;
		justify-content: flex-end;
		.diffuse-container {
			height: 300px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-self: flex-end;
			.diffuse-bubble {
				border-radius: 1000px;
				width: 600px;
				height: 600px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='50' cy='0' r='50'/%3E%3Cg fill='%23111111' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1b' cx='50' cy='100' r='50'/%3E%3Cg fill='%23262626' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23303030' cx='50' cy='200' r='50'/%3E%3Cg fill='%233b3b3b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23474747' cx='50' cy='300' r='50'/%3E%3Cg fill='%23525252' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%235e5e5e' cx='50' cy='400' r='50'/%3E%3Cg fill='%236a6a6a' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23777777' cx='50' cy='500' r='50'/%3E%3Cg fill='%23848484' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23919191' cx='50' cy='600' r='50'/%3E%3Cg fill='%239e9e9e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ababab' cx='50' cy='700' r='50'/%3E%3Cg fill='%23b9b9b9' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c6c6c6' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d4d4d4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e2e2e2' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f1f1f1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FFFFFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
				background-attachment: fixed;
				background-size: contain;
				opacity: 0.5;
				&::after {
					background-color: var(--red-accent);
					width: 400px;
					height: 400px;
					content: "";
					position: relative;
					top: 120px;
					border-radius: 500px;
				}
			}
		}

		h1 {
			width: 60%;
			position: absolute;
			bottom: 18vh;
			z-index: 10;
		}
	}

	.bottom-box {
		width: 100%;
		height: calc(30vh);
		.logo {
			position: relative;
			bottom: 130px;
			display: flex;
			justify-content: center;
			.logo-bubble {
				background-color: #fff;
				border-radius: 1000px;
				width: 335px;
				height: 335px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				&:hover {
					cursor: pointer;
				}
			}

			img {
				width: 260px;
				margin-top: 25px;
				margin-left: 10px;
			}
		}
	}
}
