@use "../mixins";
.user-page-container {
	@include mixins.card;
	width: 90%;
	align-self: center;
	background-color: var(--blue-accent);
	flex-direction: column;
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	height: 80vh;
	.user-block {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 33%;
	}
}
