@use "../mixins";

@include mixins.vertical-animation-mixin(shift-map-on-zoom, 0, -90px, -95px);
@include mixins.height-animation-mixin(grow-map, 80vh, 100vh);
.map-container-box {
	flex-grow: 1;
	overflow: hidden;
	height: 80vh;

	&.shift-map {
		flex-grow: 1;
		overflow: hidden;
		animation: shift-map-on-zoom 0.3s ease-out forwards,
			grow-map 0.3s ease-out forwards;
		animation-delay: 0.5s;
		z-index: 10000;
	}

	.expand {
		z-index: 1000;
		padding: 0px 2px;
		font-size: 25px;
		background-color: #ffffff;
		color: black;
		cursor: pointer;
		&:hover {
			background-color: #f4f4f4;
		}
	}
}

.leaflet-div-icon {
	background: transparent;
	border: none;
	overflow: visible;

	.map-icon {
		font-size: 30px;
		color: black;
		position: relative;
		bottom: 22px;
		right: 10px;

		&.tent {
			bottom: 12px;
			color: coral;
		}
		&.water {
			bottom: 12px;
			color: blue;
		}
	}
}
