.search-bar-container {
	margin-top: 100px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	input,
	ul,
	a {
		width: 95%;
	}
	a {
		margin: 5px 0;
	}
	ul {
		background-color: var(--button-light);
	}
	li {
		height: 50px;
		background-color: var(--button-light);
		padding: 0;
		margin: 2px 0;
		width: 100%;
	}
}
