@use "../mixins";
@include mixins.height-animation-mixin(shrink-topbar, -95px, 0px);

.topBar-wrapper {
	display: flex;
	width: 100%;
	height: 75px;
	margin-bottom: 20px;
	transition: height 2s ease-in;
	overflow: hidden;
	z-index: 1;
	flex-shrink: 0;
	&:hover,
	&.full-menu {
		z-index: 10;
	}

	.topBar-box {
		flex-grow: 1;
		display: flex;
		margin: 10px 30px 10px 30px;
		justify-content: flex-end;
		@include mixins.for-phone-only {
			margin: 10px 3px;
		}

		.las {
			font-size: 35px;
			color: white;
			font-weight: 800;
		}
		img {
			height: 60px;
		}
		&:first-of-type {
			justify-content: flex-start;
		}
	}
}
