@use "../mixins";

.trail-list-container {
	@include mixins.card;
	width: 90%;
	align-self: center;
	background-color: var(--blue-accent);
	flex-direction: column;
	display: flex;
	align-items: center;
	padding-bottom: 10px;

	h3 {
		align-self: flex-start;
		margin-left: 5%;
	}
	ul {
		list-style-type: none;
		width: 95%;
		height: calc(100vh - 270px);
		overflow: scroll;
		justify-content: flex-start;
		a {
			width: 95%;
		}

		li {
			// @include mixins.card;
			// padding: 20px 25px 20px 25px;
			// background-color: var(--button-light);
			// color: var(--font-light);
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: background-color 0.25s ease-in;
			width: auto;
			&.match {
				background-color: var(--background-dark);
				&:hover {
					background-color: var(--hover-dark);
				}
			}
			&:hover {
				background-color: var(--hover-light);
				cursor: pointer;
			}
		}
	}

	button {
		align-self: flex-end;
		margin-right: 5%;
		margin-top: 10px;
	}
}

.slide-out {
	animation: slide-out 1s ease-out forwards;
}
