@use "../mixins";

.trail-list-container {
	@include mixins.card;
	margin: 0;
	max-height: calc(var(--vh) - 125px);
	width: 90%;
	align-self: center;
	background-color: var(--card-background);
	flex-direction: column;
	display: flex;
	align-items: center;
	padding-bottom: 10px;

	.list-tab {
		width: 100%;
		display: flex;
	}

	h5 {
		flex: 1 1 0px;
		text-align: left;
	}
	.header {
		padding: 5px;
		transition: background-color 0.5s ease;
	}
	.selected {
		background-color: var(--card-background-hover);
		border-radius: 8px;
	}
	ul {
		list-style-type: none;
		width: 95%;
		overflow: scroll;
		justify-content: flex-start;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: background-color 0.25s ease-in;
			width: calc(94% - 25px);
			z-index: 1;
			&.match {
				background-color: var(--card-background);
				&:hover {
					background-color: var(--card-background-hover);
				}
			}
			&:hover {
				background-color: var(--card-background-hover);
				cursor: pointer;
			}
			h4 {
				width: 30%;
				text-align: left;
			}
			.input-container {
				z-index: 10000;
				width: 200px;
				height: 50px;
				background: red;
			}
		}
	}

	button {
		align-self: flex-end;
		margin-right: 5%;
		margin-top: 10px;
		flex-shrink: 0;
	}
}

.slide-out {
	animation: slide-out 1s ease-out forwards;
}
